h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  max-height: 800px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 12px; 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.gallery-item {
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
  
.gallery-link {
    display: block; 
    text-decoration: none; 
}
  
.gallery-image {
    display: block;
    width: 100%; 
    height: auto;
    transition: transform 0.3s ease;
}
  
.gallery-item:hover .gallery-image {
    transform: scale(1.05);
}
  